.survey-container {
  padding: 20px;
  border: 1px solid #000;
  max-width: 600px;
  margin: 0 auto;

  legend {
    font-size: 1rem;
  }

  #prevBtn {
    margin-right: 1em;
  }
}

.survey-header {
  margin-bottom: 20px;
}

.survey-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}