@import '../variables';

.survey-container {
  max-width: 600px;
  margin: 0 auto;

  legend {
    font-size: 1rem;
  }

  #prevBtn {
    margin-right: 1em;
  }
}

.btn-secondary {
  border: 1px solid black;

  &:hover {
    border-color: black;
  }
}

.survey-header {
  padding: 20px;
  background-color: $cod-pale-green;
}

.survey-body {
  padding: 20px;
  background-color: $cod-light-grey;
}

.survey-form {
  display: flex;
  flex-direction: column;
}

.survey-navigation {
  margin-top: 20px;
}